/*seccion 1*/
#header img {
  margin: 3% 0px 3% 15%;
  width: 40%;
  height: auto;
}
#header {
background-color: #8a8a8a;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*seccion 1 final*/

/*seccion 1 barra de navegacion*/
header {
    border-bottom: 1px solid #dedede;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.logo {
    float: left;
    padding-top: 18px;
}
.menu {
    float: right;
    clear: right;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 30px;
}
.menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 12px;
}
.menu ul li a {
    text-decoration: none;
    color: #606060;
}
.menu ul li a:hover {
    width: 103px;
    border-radius: 4px;
    background-color: #00a99d;
    box-sizing: border-box;
    padding: 10px;
}
/*seccion 1 barra de navegacion final*/

/*seccion 1 parte blanca*/
.offer{
    float: left;
    width: 100%;
    padding: 2rem 0;
}
.top-title{
    font-size: 26px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: #383838;
}
.top-title2{
        font-size: 26px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: #ffffff;
}
.under-title{
    color: #8a8a8a;
    text-align: center;
}
.offer-round{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #383838;
    border-radius: 100%;
    margin: 1.5rem auto;
}

.offer-round:hover{
    background-color: #00a99d;
    cursor: pointer;
}
.item{
    padding: 2rem 0;
    text-align: center;
}
.offer-round span{
    color: #e4e4e4;
    line-height: 3.2;
}
.item .title{
    color: #606060;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    
}
.item .paragraph{
    color: #606060;
    font-size: 14px;    
}
.btn-readmore{
    border: 1px solid #e2e2e2;
    color: #a4a4a4;
    font-size: 10px;
    padding: 9px 18px;
    text-transform: uppercase;
}
.btn-readmore:hover{
    border: 1px solid #00a99d;
    color: #fff;
    background-color: #00a99d;
}

/*seccion 1 parte blanca final*/
/*seccion 2 parte gris*/

.feature{
    float: left;
    width: 100%;
    padding: 3rem 0 0 0;
    background-color: #383838;
    position: relative;
}
.angle-90{
    position: absolute;
    left:50%;
    top:-20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.icon{
    width: 40px;
    height: 40px;
    background-color: #00a99d;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
}

.offer-rounds{
    height: 100px;
    text-align: center;
    background-color: #383838;
    border-radius: 100%;
    margin: 1.4rem auto;
    color: #00a99d;
}
.offer-rounds span{
    color: #00a99d;
    line-height: 3.2;
}
.item-feature{
    padding: 2rem 0 0 0;
}
.item-feature .title{
    color: #e4e4e4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    
}
.item-feature .paragraph{
    color: #7a7a7a;
    font-size: 14px;    
}
.item-feature .under-title{
    font-size: 12px;
    color: #aaaaaa;
}
.puntosi{
    padding-left: 93%;
}

/*seccion 2 parte gris final*/

/*--Seccion 3 Inicio--*/
.Apps{
    float: left;
    width: 100%;
    padding: 3rem 0;
}
.left-icon{
    float: right;
}
.Items{
    text-align: left;
}
.Items .Titulo{
    color: #606060;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;   
}
.Items .Texto{
    color: #7a7a7a;
    font-size: 14px;    
}
.Items .Sub-titulo{
    font-size: 12px;
    color: #aaaaaa;
    text-align: left;
}
/*--Seccion 3 Final--*/
/*--Seccion 5 Inicio--*/
.rotate180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*--Seccion 5 Final--*/
/*seccion 6*/

/*seccion 7 esmeralda*/
#seccion7{
    background-color: #383838;
    padding-bottom: 35px;
    padding-left:  100px;
    padding-right: 100px;
    text-align: center; 
}
#centro{
    justify-content: center;
}
#menu{
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: center;
    
}
#menu nav ul li a:hover{
    color:#00aeff; font-weight: bold;
}
#menu nav ul li{
    margin-top: 40px;
    list-style:none; display: inline-block; 
}
#menu nav ul li a{
    
    text-decoration: none; color: #e4e4e4; font-size: 60px;  padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
 }
#submenu{
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center; 
}
#submenu nav ul li{
    margin-top: 0px;
    list-style:none; display: inline-block; 
}
#submenu nav ul{
    padding-left: 0px;
}
#submenu nav ul li a{
    
    text-decoration: none; color: #606060; font-size: 0px;  padding: 0px 0px;
    font-family: 'Poppins', sans-serif;
 }
 #submenu nav ul li a:hover{
    color:#2373c2; font-weight: bold;
}
#submenu1{
    margin-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center; 
}
#submenu1 nav ul li{
    margin-top: 0px;
    list-style:none; display: inline-block; 
}
#submenu1 nav ul{
    padding-left: 0px;
}
#submenu1 nav ul li a{
    
    text-decoration: none; color: #606060; font-size: 15px;  padding: 0px 40px;
    font-family: 'Poppins', sans-serif;
 }
 #submenu1 nav ul li a:hover{
    color:#00a99d; font-weight: bold;
}
#content2{
    background-color: #00a99d;
    padding-bottom: 35px;   
}
#cent{
    padding: 40px 215px 30px 0px;
    text-align: center; 
}   
#cajagris button{
    background-color:#e4e4e4;
    height: 45px;
    width: 170px;
    border: none;
    border-radius: 5px;
    color: #838383;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
#cajagris button{
    position: relative;
    left: 175px;
    top: 10px;
    bottom: 20px;
    right: 20px;
}
#cajagris1 button{
    background-color:#e4e4e4;
    height: 45px;
    width: 170px;
    border: none;
    border-radius: 5px;
    color: #838383;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
#cajagris1 button{
    position: relative;
    left: 190px;
    top: 10px;
    bottom: 20px;
    right: 50px;
}
#content3{
    background-color: #f9f9f9;
    padding-bottom: 35px;   
}
table,td {
    border: 1px solid black;
}

#par1{
    background-color: #f9f9f9;
    align-content: right;
    margin-left: 20px;
 }
 #cajazulverde1 button{
    background-color:#00a99d;
    height: 45px;
    width: 125px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}
#carta1 nav ul li a{
    text-decoration: none; color: #aaaaaa; font-size: 12px; 
    font-family: 'Poppins', sans-serif;
 }
 #carta1 nav ul li a:hover{
    color:#00a99d; font-weight: bold;

}
#carta1 nav ul li{
    list-style:none; display: inline-block; 
    margin: 0px 12px 0px 0px;
}
 #par2{
    background-color: #f9f9f9;
    padding-bottom:0px;
    padding-left:  0px;
    padding-right: 0px;
    align-content: right;
    margin-left: 20px;
 }
 #cajanegra button{
    background-color:#383838;
    height: 45px;
    width: 125px;
    border: none;
    border-radius: 5px;
    color: #e4e4e4;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}
#carta2 nav ul li a{
    text-decoration: none; color: #aaaaaa; font-size: 12px; 
    font-family: 'Poppins', sans-serif;
 }
 #carta2 nav ul li a:hover{
    color:#00a99d; font-weight: bold;

}
#carta2 nav ul li{
    list-style:none; display: inline-block; 
    margin: 0px 12px 0px 0px;
}
 #par3{
    background-color: #f9f9f9;
    padding-bottom:0px;
    padding-left:  0px;
    padding-right: 0px;
    align-content: right;
    margin-left: 20px;
 }
 #cajazulverde2 button{
    background-color:#00a99d;
    height: 45px;
    width: 125px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}
#carta3 nav ul li a{
    text-decoration: none; color: #aaaaaa; font-size: 12px; 
    font-family: 'Poppins', sans-serif;
 }
 #carta3 nav ul li a:hover{
    color:#00a99d; font-weight: bold;

}
#carta3 nav ul li{
    list-style:none; display: inline-block; 
    margin: 0px 12px 0px 0px;
}
 #par4{
    background-color: #f9f9f9;
    padding-bottom:0px;
    padding-left:  0px;
    padding-right: 0px;
    align-content: right;
    margin-left: 20px;
 }
#cajazulverde3 button{
    background-color:#00a99d;
    height: 45px;
    width: 125px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
}
#carta4 nav ul li a{
    text-decoration: none; color: #aaaaaa; font-size: 12px; 
    font-family: 'Poppins', sans-serif;
 }
 #carta4 nav ul li a:hover{
    color:#00a99d; font-weight: bold;

}
#carta4 nav ul li{
    list-style:none; display: inline-block; 
    margin: 0px 12px 0px 0px;
}


#content4{
    background-color: #f9f9f9;
    padding-bottom: 35px;   
    justify-content: center;
}
table,td {
    border: 1px solid #dedede;
}
#cent{
    justify-content: center;
    padding: 0px 0px 15px 0px;
}
#secc1{
    background-color: #f9f9f9;
    align-content: right;
    margin-left: 20px;
 }
#cajaneg button{
    background-color:#383838;
    height: 45px;
    width: 140px;
    border: none;
    border-radius: 5px;
    color: #e4e4e4;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#cajaneg button{
    position: relative;
    left: 5px;
    top: 0px;
    bottom: 20px;
    right: 0px;
}
#cajazul1 button{
    background-color:#00a99d;
    height: 45px;
    width: 105px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#secc2{
    background-color: #f9f9f9;
    align-content: right;
    margin-left: 20px;
 }
 #cajaver button{
    background-color:#00a99d;
    height: 45px;
    width: 140px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#cajaver button{
    position: relative;
    left: 5px;
    top: 0px;
    bottom: 20px;
    right: 0px;
}
#cajazul2 button{
    background-color:#00a99d;
    height: 45px;
    width: 105px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#secc3{
    background-color: #f9f9f9;
    padding-bottom:0px;
    padding-left:  0px;
    padding-right: 0px;
    align-content: right;
    margin-left: 20px;
 }
 #cajaneg2 button{
    background-color:#383838;
    height: 45px;
    width: 140px;
    border: none;
    border-radius: 5px;
    color: #e4e4e4;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;''
}
#cajaneg2 button{
    position: relative;
    left: 5px;
    top: 0px;
    bottom: 20px;
    right: 0px;
}
#cajazul3 button{
    background-color:#00a99d;
    height: 45px;
    width: 105px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#secc4{
    background-color: #f9f9f9;
    padding-bottom:0px;
    padding-left:  0px;
    padding-right: 0px;
    align-content: right;
    margin-left: 20px;
 }
 #cajaneg3 button{
    background-color:#383838;
    height: 45px;
    width: 135px;
    border: none;
    border-radius: 5px;
    color: #e4e4e4;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#cajaneg3 button{
    position: relative;
    left: 5px;
    top: 0px;
    bottom: 20px;
    right: 0px;
}
#cajazul4 button{
    background-color:#00a99d;
    height: 45px;
    width: 105px;
    border: none;
    border-radius: 5px;
    color: #d5e0df;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

 p{
     color: #747474;
      font-size: 12px;
    font-family: 'Poppins',
     sans-serif;
     padding: 0px 10px 0px 10px;
}
h3{
    padding: 50px 0px 20px 0px;  
    color: #535353; font-size: 26px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
h4{
    padding: 0px 45px 0px 45px;
    text-align: center;
    color: #606060; font-size: 16px; 
    font-family: 'Poppins', sans-serif;
}
h5{
    padding: 0px 0px 15px 0px;
    color: #7b7b7b; font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h6{
    padding: 15px 60px 15px 20px;
    color: #e4e4e4; font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
/*seccion esmeralda seccion 7 final*/