


/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
#seccion7{
	background-color: #383838;
	padding-bottom: 35px;
	padding-left:  100px;
	padding-right: 100px;
	text-align: center; 
}
#centro{
	justify-content: center;
}
#menu{
	margin-top: 5px;
	padding-right: 15px;
    padding-left: 0px;
	padding-bottom: 20px;
	text-align: center;
	
}
#menu nav ul li a:hover{
	color:#00aeff; font-weight: bold;
}
#menu nav ul li{
	margin-top: 40px;
	list-style:none; display: inline-block; 
}
#menu nav ul li a{
	
	text-decoration: none; color: #e4e4e4; font-size: 60px;  padding: 0px 10px;
	font-family: 'Poppins', sans-serif;
 }
#submenu{
    margin-top: 0px;
	padding-right: 0px;
    padding-left: 0px;
    text-align: center; 
}
#submenu nav ul li{
	margin-top: 0px;
	list-style:none; display: inline-block; 
}
#submenu nav ul{
	padding-left: 0px;
}
#submenu nav ul li a{
	
	text-decoration: none; color: #606060; font-size: 0px;  padding: 0px 0px;
	font-family: 'Poppins', sans-serif;
 }
 #submenu nav ul li a:hover{
	color:#2373c2; font-weight: bold;
}
#submenu1{
    margin-top: 30px;
	padding-right: 0px;
    padding-left: 0px;
    text-align: center; 
}
#submenu1 nav ul li{
	margin-top: 0px;
	list-style:none; display: inline-block; 
}
#submenu1 nav ul{
	padding-left: 0px;
}
#submenu1 nav ul li a{
	
	text-decoration: none; color: #606060; font-size: 15px;  padding: 0px 40px;
	font-family: 'Poppins', sans-serif;
 }
 #submenu1 nav ul li a:hover{
	color:#00a99d; font-weight: bold;
}
#content2{
	background-color: #00a99d;
	padding-bottom: 35px;	
}
#cent{
	padding: 40px 215px 30px 0px;
	text-align: center; 
}	
#cajagris button{
	background-color:#e4e4e4;
	height: 45px;
	width: 170px;
	border: none;
	border-radius: 5px;
	color: #838383;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
#cajagris button{
	position: relative;
	left: 175px;
  	top: 10px;
  	bottom: 20px;
  	right: 20px;
}
#cajagris1 button{
	background-color:#e4e4e4;
	height: 45px;
	width: 170px;
	border: none;
	border-radius: 5px;
	color: #838383;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
#cajagris1 button{
	position: relative;
	left: 190px;
  	top: 10px;
  	bottom: 20px;
  	right: 50px;
}
#content3{
	background-color: #f9f9f9;
	padding-bottom: 35px;	
}
table,td {
	border: 1px solid black;
}

#par1{
 	background-color: #f9f9f9;
	align-content: right;
	margin-left: 20px;
 }
 #cajazulverde1 button{
	background-color:#00a99d;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
#carta1 nav ul li a{
	text-decoration: none; color: #aaaaaa; font-size: 12px; 
	font-family: 'Poppins', sans-serif;
 }
 #carta1 nav ul li a:hover{
	color:#00a99d; font-weight: bold;

}
#carta1 nav ul li{
	list-style:none; display: inline-block; 
	margin: 0px 12px 0px 0px;
}
 #par2{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajanegra button{
	background-color:#383838;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
#carta2 nav ul li a{
	text-decoration: none; color: #aaaaaa; font-size: 12px; 
	font-family: 'Poppins', sans-serif;
 }
 #carta2 nav ul li a:hover{
	color:#00a99d; font-weight: bold;

}
#carta2 nav ul li{
	list-style:none; display: inline-block; 
	margin: 0px 12px 0px 0px;
}
 #par3{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajazulverde2 button{
	background-color:#00a99d;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
#carta3 nav ul li a{
	text-decoration: none; color: #aaaaaa; font-size: 12px; 
	font-family: 'Poppins', sans-serif;
 }
 #carta3 nav ul li a:hover{
	color:#00a99d; font-weight: bold;

}
#carta3 nav ul li{
	list-style:none; display: inline-block; 
	margin: 0px 12px 0px 0px;
}
 #par4{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
#cajazulverde3 button{
	background-color:#00a99d;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
#carta4 nav ul li a{
	text-decoration: none; color: #aaaaaa; font-size: 12px; 
	font-family: 'Poppins', sans-serif;
 }
 #carta4 nav ul li a:hover{
	color:#00a99d; font-weight: bold;

}
#carta4 nav ul li{
	list-style:none; display: inline-block; 
	margin: 0px 12px 0px 0px;
}


#content4{
	background-color: #f9f9f9;
	padding-bottom: 35px;	
	justify-content: center;
}
table,td {
	border: 1px solid #dedede;
}
#cent{
	justify-content: center;
	padding: 0px 0px 15px 0px;
}
#secc1{
 	background-color: #f9f9f9;
	align-content: right;
	margin-left: 20px;
 }
#cajaneg button{
	background-color:#383838;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#cajaneg button{
	position: relative;
	left: 5px;
  	top: 0px;
  	bottom: 20px;
  	right: 0px;
}
#cajazul1 button{
	background-color:#00a99d;
	height: 45px;
	width: 105px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#secc2{
 	background-color: #f9f9f9;
	align-content: right;
	margin-left: 20px;
 }
 #cajaver button{
	background-color:#00a99d;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#cajaver button{
	position: relative;
	left: 5px;
  	top: 0px;
  	bottom: 20px;
  	right: 0px;
}
#cajazul2 button{
	background-color:#00a99d;
	height: 45px;
	width: 105px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#secc3{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajaneg2 button{
	background-color:#383838;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;''
}
#cajaneg2 button{
	position: relative;
	left: 5px;
  	top: 0px;
  	bottom: 20px;
  	right: 0px;
}
#cajazul3 button{
	background-color:#00a99d;
	height: 45px;
	width: 105px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#secc4{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajaneg3 button{
	background-color:#383838;
	height: 45px;
	width: 135px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#cajaneg3 button{
	position: relative;
	left: 5px;
  	top: 0px;
  	bottom: 20px;
  	right: 0px;
}
#cajazul4 button{
	background-color:#00a99d;
	height: 45px;
	width: 105px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

 p{
	 color: #747474;
	  font-size: 12px;
	font-family: 'Poppins',
	 sans-serif;
	 padding: 0px 10px 0px 10px;
}
h3{
	padding: 50px 0px 20px 0px;	 
	color: #535353; font-size: 26px; 
	font-family: 'Poppins', sans-serif;
	font-weight: bold;

}
h4{
	padding: 0px 45px 0px 45px;
	text-align: center;
	color: #606060; font-size: 16px; 
	font-family: 'Poppins', sans-serif;
}
h5{
	padding: 0px 0px 15px 0px;
	color: #7b7b7b;	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
h6{
	padding: 15px 60px 15px 20px;
	color: #e4e4e4;	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
