/*seccion 1*/
#header img {
  margin: 3% 0px 3% 15%;
  width: 40%;
  height: auto;
}
#header {
background-color: #8a8a8a;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*seccion 1 final*/
/*seccion 6*/
 #sample-work{
     float: left;
     width: 100%;
     padding: 3rem 0;
     background-color: #f9f9f9;
 }
 .btn-green{
     background-color: #00a99d;
     margin: 30px 0;
     color: #fff;
     font-weight: bolder;
     text-transform: uppercase;
 }
 #btn-green:hover{
    background-color: transparent;
    margin: 30px 0;
    color: #00a99d;
    font-weight: bolder;
    text-transform: uppercase;
    border:1px solid #00a99d;
}

.team-text{
    float: left;
    width: 100%;
    padding: 4rem 0;
    background-color: #00a99d;
    position: relative;
}
.tex-green{
    color: #00a99d;
}
.tex-dark{
    color: #aaaaaa;
    font-weight: normal;
}
.team-text p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem 0 0 0;
}

/* clients */

.clients{
    float: left;
    width: 100%;
    background-color: #383838;
    padding: 3rem 0;
}



/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
#seccion7{
	background-color: #383838;
	padding-bottom: 35px;
	padding-left:  100px;
	padding-right: 100px;
	text-align: center; 
}
#centro{
	justify-content: center;
}
#menu{
	margin-top: 5px;
	padding-right: 15px;
    padding-left: 0px;
	padding-bottom: 20px;
	text-align: center;
}
#menu nav ul li a:hover{
	color:#00aeff; font-weight: bold;
}
#menu nav ul li{
	margin-top: 40px;
	list-style:none; display: inline-block; 
}
#menu nav ul li a{
	
	text-decoration: none; color: #e4e4e4; font-size: 60px;  padding: 0px 10px;
	font-family: 'Poppins', sans-serif;
 }
#submenu{
    margin-top: 0px;
	padding-right: 0px;
    padding-left: 0px;
    text-align: center; 
}
#submenu nav ul li{
	margin-top: 0px;
	list-style:none; display: inline-block; 
}
#submenu nav ul{
	padding-left: 0px;
}
#submenu nav ul li a{
	
	text-decoration: none; color: #606060; font-size: 0px;  padding: 0px 0px;
	font-family: 'Poppins', sans-serif;
 }
 #submenu nav ul li a:hover{
	color:#2373c2; font-weight: bold;
}
#submenu1{
    margin-top: 30px;
	padding-right: 0px;
    padding-left: 0px;
    text-align: center; 
}
#submenu1 nav ul li{
	margin-top: 0px;
	list-style:none; display: inline-block; 
}
#submenu1 nav ul{
	padding-left: 0px;
}
#submenu1 nav ul li a{
	
	text-decoration: none; color: #606060; font-size: 15px;  padding: 0px 20px;
	font-family: 'Poppins', sans-serif;
 }
 #submenu1 nav ul li a:hover{
	color:#2373c2; font-weight: bold;
}
#content2{
	background-color: #00a99d;
	padding-bottom: 35px;	
justify-content: left;
}
#cajagris button{
	background-color:#e4e4e4;
	height: 45px;
	width: 255px;
	border: none;
	border-radius: 5px;
	color: #838383;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
#cajagris1 button{
	background-color:#e4e4e4;
	height: 45px;
	width: 255px;
	border: none;
	border-radius: 5px;
	color: #838383;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}
#content3{
	background-color: #f9f9f9;
	padding-bottom: 35px;	
justify-content: left;
}
table,td {
	border: 1px solid #dedede;
}
#par1{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajazulverde1 button{
	background-color:#00a99d;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
 #par2{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajanegra button{
	background-color:#383838;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
 #par3{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajazulverde2 button{
	background-color:#00a99d;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
 #par4{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
#cajazulverde3 button{
	background-color:#00a99d;
	height: 45px;
	width: 125px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
}
#content4{
	background-color: #f9f9f9;
	padding-bottom: 35px;	
justify-content: left;
}
#cent{
	justify-content: center;
}
#secc1{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajaneg button{
	background-color:#383838;
	height: 45px;
	width: 130px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}#cajazul1 button{
	background-color:#00a99d;
	height: 45px;
	width: 130px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#secc2{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajaver button{
	background-color:#00a99d;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}#cajazul2 button{
	background-color:#00a99d;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#secc3{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajaneg2 button{
	background-color:#383838;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}#cajazul3 button{
	background-color:#00a99d;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
#secc4{
 	background-color: #f9f9f9;
	padding-bottom:0px;
	padding-left:  0px;
	padding-right: 0px;
	align-content: right;
	margin-left: 20px;
 }
 #cajaneg3 button{
	background-color:#383838;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #e4e4e4;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}#cajazul4 button{
	background-color:#00a99d;
	height: 45px;
	width: 140px;
	border: none;
	border-radius: 5px;
	color: #d5e0df;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
 p{
	 color: #747474;
	  font-size: 12px;
	font-family: 'Poppins',
	 sans-serif;
	 padding: 0px 10px 0px 10px;
}
h3{
	padding: 50px 0px 20px 0px;	 text-align: center;
	color: #535353; font-size: 26px; 
	font-family: 'Poppins', sans-serif;
}
h4{
	text-align: center;
	color: #606060; font-size: 16px; 
	font-family: 'Poppins', sans-serif;
}
h5{
	padding: 0px 0px 15px 0px;
	color: #7b7b7b;	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
h6{
	color: #e4e4e4;	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
/*... ID de esme...*/
